/00_Dataset/coco/**
/00_Dataset/cocoSkyMask/**
/00_Dataset/cocoSky/*
/AutoGrabCut_Cpp/build/**
/01_CV/models/**
/AutoGrabCut_Cpp/.vscode/**
/00_Dataset/ADE20KSky/*
/00_Dataset/ADE20kSky/*
/AutoGrabCut_Cpp/rgbImageList
/02_AutoGrabCut_Cpp/build/
